* {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    justify-content: center;
}

#traffic_light {
    background-color:silver;
    width: 200px;
    height: 600px;
    margin-top: 55px;
}

.red_light {
    background-color: red;
    width: 100%;
    height: 200px;
}

.yellow_light {
    background-color: yellow;
    width: 100%;
    height: 200px;
}

.green_light {
    background-color: green;
    width: 100%;
    height: 200px;
}

.circle {
    border-radius: 50%;
}

.opacity_circle {
    opacity: 0.05;
}